<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        @font-face {
            font-family: 'TheTuesdayofYounah';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/TheTuesdayofYounah.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body style="background-color: pink; font-family: 'TheTuesdayofYounah';">

<h1 style="background-color: gray;">Hello Spring Boot!</h1>
    <script>
        alert("Hello, minyoung!");
    </script>
</body>
</html>

<!--

-->